@if $use_topic_creator_avatar_mobile == "true" {
  .topic-list-data {
    .pull-left img {
      display: none;
    }

    .topic-list-left-creator-avatar {
      float: left;

      img {
        display: inline;
      }
    }

    .topic-excerpt:not(.highest-post-excerpt) {
      img.avatar {
        display: none;
      }
    }
  }
} @else {
  .topic-list-data {
    .highest-post-excerpt {
      img.avatar {
        display: none;
      }
    }
  }
}
